<div class="search">
  <%= simple_form_for :search, url: '/search', method: :get do |f| %>
    <%
        type_collection = [
                'Flat', 'House', 'Terraced house', 'Other'
        ]

        size_collection = {
                'Studio' => 0,
                '1 Bedroom' => 1,
                '2 Bedroom' => 2,
                '3 Bedroom' => 3,
                '4 Bedroom' => 4,
                '5 Bedroom' => 5,
                '6 Bedroom' => 6
        }

        min_price = []
        (100..1000).step(50) do |price|
          min_price.push "£#{price} pw"
        end

        max_price = []
        (150..1000).step(50) do |price|
          max_price.push "£#{price} pw"
        end


    %>
    <%= f.input :lat, as: :hidden %>
    <%= f.input :lng, as: :hidden %>
    <%= f.input :radius, as: :hidden %>
    <%= f.input :type, collection: type_collection, required: false, include_blank: 'Any', selected: @search_params[:type] %>
    <%= f.input :size, collection: size_collection, required: false, include_blank: 'Any', selected: @search_params[:size] %>
    <%= f.input :min_price, label: 'Min. Price', collection: min_price, required: false, include_blank: 'Any Price', selected: @search_params[:min_price] %>
    <%= f.input :max_price, label: 'Max. Price', collection: max_price, required: false, include_blank: 'Any Price', selected: @search_params[:max_price] %>
    <%= f.submit 'Search' %>
  <% end %>
</div>
<div id='map'></div>
<script type='text/javascript'>
    var map = L.mapbox.map('map')
            .addLayer(L.mapbox.tileLayer('zanfa.map-eew6jiv6', {
                detectRetina: true,
                retinaVersion: 'zanfa.map-qpz94u34'
            }))
            .setView([<%= @location[1] %>, <%= @location[0] %>], 15);

    var unavailableIcon = L.icon({
        iconUrl: 'https://s3-eu-west-1.amazonaws.com/wigwamm-plugin/marker-icon-unavailable.png',
        iconRetinaUrl: 'https://s3-eu-west-1.amazonaws.com/wigwamm-plugin/marker-icon-unavailable.png',
        shadowUrl: 'https://s3-eu-west-1.amazonaws.com/wigwamm-plugin/marker-shadow.png',
        shadowRetinaUrl: 'https://s3-eu-west-1.amazonaws.com/wigwamm-plugin/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    <% @listings.each do |listing| %>
    var options = {};
    <% if listing.availability_score > 0 %>
        options = {icon: unavailableIcon};
    <% end %>
    L.marker([<%= listing.location[0] %>, <%= listing.location[1] %>], options)
            .addTo(map)
            .on('click', function(e) {
                window.open("<%= listing.url %>");
            });
    <% end %>

    $('form.search').submit(function () {
        var center = map.getCenter();
        $('#search_lat').val(center.lat);
        $('#search_lng').val(center.lng);

        var bounds = map.getBounds();
        var radius = bounds._southWest.distanceTo(bounds._northEast) / 1000;
        $('#search_radius').val(radius);
    });
</script>