<div id='map'></div>
<script type='text/javascript'>
    var map = L.mapbox.map('map', 'zanfa.map-eew6jiv6', {
        detectRetina: true,
        retinaVersion: 'zanfa.map-qpz94u34'
    }).setView([51.474, -0.167], 16);

    <% @agent.full_listings.each do |listing| %>
    L.marker([<%= listing.location[0] %>, <%= listing.location[1] %>]).addTo(map);
    <% end %>
</script>
<h1><%= @agent.name %></h1>
<ul>
  <% @agent.full_listings.each do |listing| %>
  <li><%= listing.property_id %> - <%= listing.description %></li>
  <% end %>
</ul>

<ul>
  <% @agent.branches.each do |branch| %>
  <li><%= branch %></li>
  <% end %>
</ul>

