<h1>Listing filters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Areas</th>
    <th>Agents</th>
    <th>Min price</th>
    <th>Max price</th>
    <th>Min bedrooms</th>
    <th>Max bedrooms</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @filters.each do |filter| %>
  <tr>
    <td><%= link_to filter.name, filter %></td>
    <td><%= filter.areas %></td>
    <td><%= filter.agents %></td>
    <td><%= filter.min_price %></td>
    <td><%= filter.max_price %></td>
    <td><%= filter.min_bedrooms %></td>
    <td><%= filter.max_bedrooms %></td>
    <td><%= filter.type %></td>
    <td><%= link_to 'Clone', clone_filter_path(filter), data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Edit', edit_filter_path(filter) %></td>
    <td><%= link_to 'Destroy', filter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Filter', new_filter_path %>
