<div class="filters">
  <div class="wrapper">
    <div class="header">
      <div class="menu">
        <h2><%= @filter.name %></h2>
      </div>
    </div>
    <div class="content">
      <div class="map-wrapper">
        <div id="map"></div>
        <div id="sidebar" class="sidebar">
          <h2>Agents in this area</h2>
          <ul>
            <% @all_agents.each do |agent| %>
                <li data-agent="<%= agent.id %>">
                  <%= agent.name ? agent.name : 'Unknown' %>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <script type='text/javascript'>
        (function () {
            var listings = <%= raw @listings.to_json %>,
                all_agents = <%= raw @all_agents.to_json %>,
                local_agents = <%= raw @agents.to_json %>,
                location = [<%= @location[1] %>, <%= @location[0] %>],
                area = <%= raw @area.to_json %>;

            var map = new Map(location, listings, all_agents, local_agents, area);
            <% unless @filter.edited %>
                map.editPolygon(true);
            <% end %>

            <% if @filter.edited %>
            $(function(){
                $('a.edit').hide();
                $('.sidebar').show();

                $('li[data-agent]').hover(function() {
                    var t = $(this);
                    map.markersNotByAgent(t.data('agent'), function(listing) {
                        if (listing.marker) listing.marker.setOpacity(0);
                    });
                }, function() {
                    var t = $(this);
                    map.markersNotByAgent(t.data('agent'), function(listing) {
                        if (listing.marker) listing.marker.setOpacity(1);
                    });
                });
            });
            <% end %>
        })();

        //var kml = new L.KML('/areas.kml');
        //var layer = map.addLayer(kml);

    </script>

    <a class="edit" href="#">Save</a>
  </div>
</div>
